---
title: Natural & Organic 
hero: 100% Natural & Organic 
subtitle: Sustainable & Earth-Friendly Farming Practices
---

<div class="content" id="products">
	<section>
		<div class="container">
			<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_products" class="btn"><strong>&#9998;</strong> Manage products</a></p>
			<ul class="product-list">
				{% for product in site.products %}
					<li>
						{% include product-styles.html product=product %}
						<div class="product-details">
							<h4><a href="{{ product.url }}">{{ product.name }}</a></h4>
							<div class="product-description">
								{{ product.description_markdown | truncate: 45 | markdownify }}
							</div>
						</div>
					</li>
				{% endfor %}
				<li></li>
				<li>
				</li>
				<li></li>
			</ul>
			<div><center>
			<a href="https://sendy.zet-go.com/sendy/subscription?f=biYfRG9pJhn38rMEf763UjZCC9x2qhUOUHIyxVhgXjOtDghLpUg5LqJvN5gCde763uhH">
					<img src="/images/subscribe_email.jpg" width="250", height="80">
			</a>
			<a href="https://www.facebook.com/zetgoorganicfarms/">
				<img src="/images/follow_fb.jpg" width="250", height="80"> </a>
			<a href="https://chat.whatsapp.com/DfFrpm6apnF2VwwyO5CRfe">
				<img src="/images/join_whatsapp.jpg" width="250", height="80"> </a>
			<h4>Subscription includes - newsletter, email notifications as soon as we harvest (first come first serve), discounts etc. </h4>
			<!-- <p style="color: #16098d; font-size: 25px; font-weight: bold;">Selling Every Week - Sunday 7pm-7.30pm @<u>1580 Morrisville Carpenter Rd, Cary, NC 27519</u></p>
			<p style="color: #16098d; font-size: 25px; font-weight: bold;">For HS & FV folks, Thursday 7pm-7.30pm parking lot @<u>1605 Avent Ferry Rd, Holly Springs, NC 27540</u></p>
			<p style="color: #098d0b; font-size: 20px; font-weight: bold;">regular updates and changes will be announced on <a href="https://chat.whatsapp.com/DfFrpm6apnF2VwwyO5CRfe">Whatsapp</a> & <a href="https://www.facebook.com/zetgoorganicfarms/">Facebook</a></p> -->
		</center>

		</div>
		</div>
	</section>
</div>
